<ion-header>

  <ion-navbar color="gic-primary-dark">
    <ion-title>Iniciar sesión</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="no-scroll">
  <div class="show-logo">
    <img src="assets/imgs/logo.png" alt="GIC">
  </div>

  <ion-list no-lines>
    <form>
      <ion-badge class="gic-input-badge">Email</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="user.email" name="email" type="text" autocapitalize="off" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Contraseña</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="user.password" name="password" type="password" required>
        </ion-input>
      </ion-item>

      <div padding>
        <button ion-button round (click)="login()" type="submit" color="primary" block>
          Iniciar sesión
        </button>
        <p class="text-center color-primary-dark" (click)="signin()">
          ¿No tienes una cuenta todavía? Regístrate
        </p>
        <p class="text-center color-dark" (click)="resetPassword()">
          ¿Has olvidado tu contraseña?
        </p>
      </div>
    </form>
  </ion-list>

</ion-content>
