page-login {
  .show-logo {
    width: 100%;
    display: flex; justify-content: center; align-items: center;
    img {
      width: 50%; height: auto;
    }
  }
  .text-center { text-align: center; }
}
