page-concepts {
  .div-spinner {
    width: 100%; height: 100%;
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    color: dimgray;
    font-style: italic;
  }
}
