<!--
  Generated template for the ConceptsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gic-primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Artículos y servicios</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addConcept()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="loading" class="div-spinner">
    <ion-spinner name="dots"></ion-spinner>
    <p>Cargando los artículos y servicios</p>
  </div>

  <ion-searchbar *ngIf="!loading"
    [(ngModel)]="searchConcept"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onSearch($event)"
    (ionCancel)="onCancelSearch($event)">
  </ion-searchbar>

  <ion-list *ngIf="!loading" no-lines padding>
    <ion-item-sliding *ngFor="let concept of concepts" #item>
      <ion-item class="gic-list-item">
        <h2 class="df-between">
          {{ concept.name }}
          <small>{{ concept.price | number: '1.2-2' }} €</small>
        </h2>
        <p class="p-09">{{ concept.description }}</p>
      </ion-item>
      <ion-item-options side="left">
        <div class="gic-list-item-actions">
          <button ion-fab mini (click)="updateConcept(concept)" class="btn-customer" color="gic-primary-dark">
            <ion-icon name="brush"></ion-icon>
          </button>
          <button ion-fab mini (click)="deleteConcept(concept)" class="btn-customer" color="gic-primary-dark">
            <ion-icon name="trash"></ion-icon>
          </button>
        </div>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
