<ion-header>

  <ion-navbar color="gic-primary-dark">
    <ion-title>Registrarse</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <form>
      <ion-badge class="gic-input-badge">Email</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="user.email" name="email" type="text" autocapitalize="off" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Contraseña</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="user.password" name="password" type="password" required>
        </ion-input>
      </ion-item>

      <div padding>
        <button ion-button round (click)="signin()" type="submit" color="secondary" block>
          Registrarse
        </button>
      </div>
    </form>
  </ion-list>

</ion-content>
