<ion-header>

  <ion-navbar color="gic-primary-dark">
    <ion-title>GIC</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="div-spinner">
    <div class="show-logo">
      <img src="assets/imgs/logo.png" alt="GIC">
    </div>
    <ion-spinner name="dots"></ion-spinner>
    <p>Gestión integral de Clientes</p>
  </div>
</ion-content>
