<!--
  Generated template for the PaymentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gic-primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Pagos</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addPayment()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar *ngIf="!loading"
                 [(ngModel)]="searchPayment"
                 [showCancelButton]="shouldShowCancel"
                 (ionInput)="onSearch($event)">
  </ion-searchbar>

  <div *ngIf="loading" class="div-spinner">
    <ion-spinner name="dots"></ion-spinner>
    <p>Cargando los pagos</p>
  </div>

  <ion-list *ngIf="!loading" no-lines padding>
    <ion-item-sliding *ngFor="let payment of filterPayments" #item>
      <ion-item class="gic-list-item">
        <h2 class="df-between">
          {{ payment.name }}
          <small>{{ payment.total | number: '1.2-2' }} €</small>
        </h2>
        <p class="p-09" style="font-weight: bold;">{{ payment.supplierData.name }}</p>
        <p class="p-09">
          <span *ngIf="payment.description.length > 0">{{ payment.description }}</span>
          <span *ngIf="payment.description.length == 0">Sin descripción</span>
        </p>
      </ion-item>
      <ion-item-options side="left">
        <div class="gic-list-item-actions">
          <button ion-fab mini (click)="updatePayment(payment)" color="gic-primary-dark">
            <ion-icon name="brush"></ion-icon>
          </button>
          <button ion-fab mini (click)="deletePayment(payment)" color="gic-primary-dark">
            <ion-icon name="trash"></ion-icon>
          </button>
        </div>
      </ion-item-options>
    </ion-item-sliding>

    <div *ngIf="payments.length == 0" class="gic-list-item" padding>
      <p>No hay pagos que mostrar</p>
    </div>
  </ion-list>

</ion-content>
