<!--
  Generated template for the MyCompanyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gic-primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi compañía</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="cargando" class="div-spinner">
    <ion-spinner name="dots"></ion-spinner>
    <p>Cargando los datos de su compañía</p>
  </div>



  <ion-list no-lines padding>
    <form *ngIf="!cargando">
      <ion-badge class="gic-input-badge">Nombre</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="myCompany.name" name="name" type="text" placeholder="Escriba el nombre" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">NIF / CIF</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="myCompany.nif" name="nif" type="text" placeholder="Escriba su NIF o CIF" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Dirección</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="myCompany.address" name="address" type="text" placeholder="Escriba la dirección" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Ciudad</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="myCompany.city" name="city" type="text" placeholder="Escriba la ciudad" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Provincia</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="myCompany.province" name="province" type="text" placeholder="Escriba la provincia" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Código postal</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="myCompany.postalCode" name="postalCode" type="text" placeholder="Escriba el código postal" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Teléfono</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="myCompany.phone" name="phone" type="text" placeholder="Escriba el teléfono" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Email</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="myCompany.email" name="email" type="text" placeholder="Escriba el email" required>
        </ion-input>
      </ion-item>

      <div padding>
        <button ion-button (click)="updateMyCompany()" type="submit" color="primary" block>
          Actualizar datos
        </button>
      </div>
    </form>
  </ion-list>

</ion-content>
