<!--
  Generated template for the ModalSearchConceptPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gic-primary-dark">
    <ion-title color="gic-danger">Buscar artículo o servicio</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar
    [(ngModel)]="searchConcept"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onSearch($event)">
  </ion-searchbar>

  <ion-list no-lines>
    <ion-item *ngFor="let concept of filterConcepts">
      <div class="invoice-input" (click)="selectConcept(concept)">
        <h2 class="df-between">{{ concept.name }} <small>{{ concept.price | number:'1.2-2' }} €</small></h2>
        <div class="df-between">
          <span>{{ concept.description }}</span>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
