<ion-header>
  <ion-navbar color="gic-primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>GIC</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="loading" class="div-spinner">
    <ion-spinner name="dots"></ion-spinner>
    <p>Cargando los datos de su compaía</p>
  </div>

  <ion-badge class="gic-input-badge">Facturas</ion-badge>
  <ion-card class="br-10">
    <ion-card-content>
      <canvas #donutInvoices></canvas>
    </ion-card-content>
  </ion-card>

  <ion-badge class="gic-input-badge">Facturas y pagos</ion-badge>
  <ion-card class="br-10">
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
