page-invoice-detail {
  .div-customer {
    display: flex; justify-content: space-between; align-items: center;
    flex-direction: column;
    padding: 5px;
    flex-wrap: nowrap;
    overflow-x: auto;
    contain: none;
    .actions {
      display: flex; justify-content: flex-end; align-items: center;
    }
  }
  .fab[mini] {
    margin: 8px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 0.8em;
  }
  .btn-customer {
    margin-left: 5px;
  }
  .pd {
    padding: 5px 25px 5px 5px;
  }
  .invoice-badge {
    margin: 20px 0 5px 20px;
    text-transform: uppercase;
  }
  .invoice-input {
    width: 100%;
    background: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 5px 10px;
    border-bottom: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .invoice-concept {
    display: flex;
    flex-direction: column;
  }
  .invoice-input-concept {
    @extend .invoice-input;
    margin-bottom: 10px;
    flex-direction: column;
    .df-between {
      display: flex; justify-content: space-between; align-items: center;
    }
    .detail { background: none; }
  }
  .invoice-input-actions {
    @extend .invoice-input;
    background: rgb(46, 229, 146);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .bg-light {
    background: rgb(245, 245, 245);
    .invoice-input { background: rgb(255, 255, 255); }
  }
}
