<ion-header>

  <ion-navbar color="gic-primary-dark">
    <ion-title>Factura</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="loading" class="div-spinner">
    <ion-spinner name="dots"></ion-spinner>
    <p>Cargando la factura</p>
  </div>

  <ion-list no-lines *ngIf="!loading">
    <!--Selección del cliente -->
    <ion-item class="bg-light">
      <ion-badge color="gic-primary-dark" class="invoice-badge">Cliente</ion-badge>
      <div class="invoice-input" *ngIf="selectedCustomer == null">
        <span>Seleccione o añada un cliente</span>
        <button ion-fab mini class="btn-customer" color="gic-primary-dark" (click)="addCustomerModal()">
          <ion-icon name="add"></ion-icon>
        </button>
        <button ion-fab mini class="btn-customer" color="gic-primary-dark" (click)="searchCustomersModal()">
          <ion-icon name="search"></ion-icon>
        </button>
      </div>
      <div *ngIf="selectedCustomer != null" class="invoice-input">
        <span>{{ selectedCustomer.name }}</span>
        <button ion-fab mini class="btn-customer" color="gic-primary-dark" (click)="clearCustomer()">
          <ion-icon name="close"></ion-icon>
        </button>
      </div>
    </ion-item>

    <form padding>
      <ion-badge color="gic-primary-dark" class="invoice-badge">Número</ion-badge>
      <ion-item class="invoice-input">
        <ion-input [(ngModel)]="invoice.invoice" type="text" name="invoice"
                   placeholder="Número de la factura" clearInput></ion-input>
      </ion-item>

      <div *ngIf="!loadingInvoices">
        <p *ngIf="searchNumberOfInvoice" class="gif-form-error">Existe una factura con esta numeración.</p>
      </div>

      <ion-badge color="gic-primary-dark" class="invoice-badge">Fecha</ion-badge>
      <ion-item class="invoice-input">
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="invoice.date" name="date" okText="Aceptar" cancelText="Cancelar" doneButtonLabel="Aceptar"
                      placeholder="Seleccione una fecha"></ion-datetime>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="invoice-badge">Líneas de factura</ion-badge>
      <div class="invoice-input-concept" *ngFor="let definedConcept of invoice.concepts">
        <ion-item class="detail">
          <ion-label floating>Nombre</ion-label>
          <ion-input [(ngModel)]="definedConcept.concept.name" type="text" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <div class="df-between">
          <ion-item class="detail">
            <ion-label floating>Cantidad</ion-label>
            <ion-input [(ngModel)]="definedConcept.quantity" (ngModelChange)="calculateTotal()" type="text" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <ion-item class="detail">
            <ion-label floating>Precio</ion-label>
            <ion-input [(ngModel)]="definedConcept.price" (ngModelChange)="calculateTotal()" type="text" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <ion-item class="detail">
            <ion-label floating>Descuento</ion-label>
            <ion-input [(ngModel)]="definedConcept.discount" (ngModelChange)="calculateTotal()" type="text" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </div>
        <ion-item class="detail">
          <ion-label floating>Impuesto</ion-label>
          <ion-select [(ngModel)]="definedConcept.concept.tax" name="tax">
            <ion-option [value]="tax.id" *ngFor="let tax of taxes">{{ tax.name }} ({{ tax.value | number:'1.2-2' }}%)</ion-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="invoice-input-actions">
        <span>Añadir artículos y servicios</span>
        <div class="actions">
          <button ion-fab mini class="btn-customer" color="gic-primary-dark" (click)="addConceptModal()">
            <ion-icon name="add"></ion-icon>
          </button>
          <button ion-fab mini class="btn-customer" color="gic-primary-dark" (click)="searchConceptsModal()">
            <ion-icon name="search"></ion-icon>
          </button>
        </div>
      </div>

      <ion-badge color="gic-primary-dark" class="invoice-badge">Retención</ion-badge>
      <ion-item class="invoice-input">
        <ion-select [(ngModel)]="invoice.withholding" name="withholding" style="max-width: 100% !important;"
                    placeholder="Seleccione una retención" (ngModelChange)="calculateTotal()">
          <ion-option [value]="withholding.id" *ngFor="let withholding of withholdings">
            {{ withholding.name }} ({{ withholding.value | number:'1.2-2' }}%)
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="invoice-badge">Total</ion-badge>
      <div class="invoice-input">
        <ion-item class="invoice-input">
          <ion-input [(ngModel)]="invoice.total" type="number" name="number" disabled></ion-input>
        </ion-item>
        <span color="gic-primary-dark">€</span>
      </div>


      <div padding>
        <button ion-button *ngIf="id == 0" (click)="addInvoice()" [disabled]="!invoiceIsComplete" round type="submit" color="primary" block>
          Crear factura
        </button>
        <button ion-button *ngIf="id != 0" (click)="updateInvoice()" [disabled]="!invoiceIsComplete" round type="submit" color="primary" block>
          Actualizar factura
        </button>

        <p class="gic-form-incomplete" *ngIf="!invoiceIsComplete">La factura debe tener un número único, una fecha de presentación, una retención y al menos un concepto.</p>
      </div>
    </form>
  </ion-list>

</ion-content>
