<!--
  Generated template for the ConceptDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gic-primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Artículo o servicio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list no-lines padding>
    <form *ngIf="!loading">
      <ion-badge class="gic-input-badge">Nombre *</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="newConcept.name" name="name" type="text" placeholder="Escriba un nombre" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Descripción</ion-badge>
      <ion-item class="gic-input">
        <ion-textarea [(ngModel)]="newConcept.description" name="description" placeholder="Escriba una descripción" required>
        </ion-textarea>
      </ion-item>

      <ion-badge class="gic-input-badge">Precio *</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="newConcept.price" name="price" type="number" placeholder="Escriba un precio" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Impuesto</ion-badge>
      <ion-item class="gic-input">
        <ion-select [(ngModel)]="newConcept.tax" name="tax" placeholder="Seleccione un impuesto">
          <ion-option [value]="tax.id" *ngFor="let tax of taxes">{{ tax.name }} ({{ tax.value | number:'1.2-2' }}%)</ion-option>
        </ion-select>
      </ion-item>

      <div padding>
        <button *ngIf="newConcept.id == 0" round ion-button (click)="addConcept()" [disabled]="!conceptIsComplete" type="submit" color="primary" block>
          Crear artículo o servicio
        </button>

        <button *ngIf="newConcept.id != 0" round ion-button (click)="updateConcept()" [disabled]="!conceptIsComplete" type="submit" color="primary" block>
          Actualizar artículo o servicio
        </button>

        <p *ngIf="!conceptIsComplete" class="gic-form-incomplete">* Los campos marcados son obligatorios</p>
      </div>
    </form>
  </ion-list>

</ion-content>
