<!--
  Generated template for the PaymentDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gic-primary-dark">
    <ion-title>
      <span *ngIf="id == 0">Crear pago</span>
      <span *ngIf="id != 0">Actualizar pago</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="loading" class="div-spinner">
    <ion-spinner name="dots"></ion-spinner>
    <p>Cargando detalles del pago</p>
  </div>

  <ion-list>
    <form *ngIf="!loading">
      <ion-badge class="gic-input-badge">Proveedor</ion-badge>
      <ion-item class="gic-input">
        <ion-select [(ngModel)]="payment.supplier" name="tax" placeholder="Seleccione un impuesto">
          <ion-option [value]="supplier.id" *ngFor="let supplier of suppliers">{{ supplier.name }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="gic-input-badge">Título</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="payment.name" name="name" type="text" placeholder="Escriba un título" required>
        </ion-input>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="gic-input-badge">Descripción</ion-badge>
      <ion-item class="gic-input">
        <ion-textarea [(ngModel)]="payment.description" name="description" placeholder="Escriba una descripción" required>
        </ion-textarea>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="gic-input-badge">Fecha</ion-badge>
      <ion-item class="gic-input">
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="payment.date" name="date" okText="Aceptar" cancelText="Cancelar" doneButtonLabel="Aceptar"
                      placeholder="Seleccione una fecha"></ion-datetime>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="gic-input-badge">Total</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="payment.total" name="total" type="number" placeholder="Escriba el total" required>
        </ion-input>
      </ion-item>

      <div padding>
        <button ion-button *ngIf="id == 0" (click)="addPayment()" [disabled]="!paymentIsComplete" round block type="submit" color="primary" block>
          Crear pago
        </button>

        <button ion-button *ngIf="id !=0" (click)="updatePayment()" [disabled]="!paymentIsComplete" round block type="submit" color="primary" block>
          Actualizar pago
        </button>
      </div>
    </form>
  </ion-list>

</ion-content>
