<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="gic-primary-dark">
      <ion-title>Menu</ion-title>

      <ion-buttons end>
        <button ion-button icon-only (click)="logOut()" menuClose>
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="menu-item">
        <ion-icon [name]="p.icon" color="gic-primary-dark"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
