// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.mt-10 { margin-top: 10px; }
.color-primary-dark { color: rgb(45, 156, 106); }
.color-dark { color: rgb(103, 103, 104); }
.no-scroll .scroll-content{
  overflow: hidden;
}
.menu-item {
  text-transform: uppercase;
  color: rgb(103, 103, 104);
  ion-icon { margin-right: 10px; }
}

.div-spinner {
  width: 100%; height: 100%;
  display: flex; justify-content: center; align-items: center; flex-direction: column;
  color: rgb(45, 156, 106);
  font-style: italic;
}

.gic-list-item {
  margin: 10px 10px 10px 0;
  width: 100%;
  background: rgb(245, 245, 245);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  text-transform: uppercase;
  border-radius: 5px;
  &:hover { background: rgb(240, 240, 240); }
  .c-accepted { color: rgb(66, 231, 157); }
  .c-pending { color: rgb(255, 225, 74); }
  .c-rejected { color: rgb(255, 107, 87); }
  .df-between { display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; }
  .p-09 { font-size: 0.9em; text-transform: none; }
}
.gic-list-item-actions {
  width: 100%; height: 100%;
  display: flex; justify-content: flex-start; align-items: center;
}
.fab[mini] {
  margin: 8px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 0.8em;
}
.gic-input-badge {
  margin: 20px 0 5px 20px;
  text-transform: uppercase;
}
.gic-input {
  width: 100%;
  background: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 10px;
  border-bottom: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.gic-form-incomplete {
  text-align: center;
  color: rgb(103, 103, 104);
  font-size: 0.8em;
  font-style: italic;
}
.gif-form-error {
  text-align: center;
  color: rgb(255, 107, 87);
  font-size: 0.8em;
  font-style: italic;
}
