<!--
  Generated template for the CompanyDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gic-primary-dark">
    <ion-title>Compañía</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list no-lines padding>
    <form *ngIf="!loading">
      <ion-badge class="gic-input-badge">Tipo de compañía</ion-badge>
      <ion-item class="gic-input">
        <ion-select [(ngModel)]="company.type" name="type" placeholder="Seleccione un tipo">
          <ion-option value="1">Cliente</ion-option>
          <ion-option value="2">Proveedor</ion-option>
          <ion-option value="3">Cliente / Proveedor</ion-option>
        </ion-select>
      </ion-item>

      <ion-badge class="gic-input-badge">Nombre</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="company.name" name="name" type="text" placeholder="Escriba un nombre" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">NIF / CIF</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="company.nif" name="nif" type="text" placeholder="Escriba un NIF o CIF" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Dirección</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="company.address" name="address" type="text" placeholder="Escriba una dirección" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Ciudad</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="company.city" name="city" type="text" placeholder="Escriba la ciudad" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Provincia</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="company.province" name="province" type="text" placeholder="Escriba la provincia" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Código postal</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="company.postalCode" name="postalCode" type="text" placeholder="Escriba un código postal" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Teléfono</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="company.phone" name="phone" type="text" placeholder="Escriba un teléfono" required>
        </ion-input>
      </ion-item>

      <ion-badge class="gic-input-badge">Email</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="company.email" name="email" type="text" placeholder="Escriba un email" required>
        </ion-input>
      </ion-item>

      <div padding>
        <button ion-button *ngIf="company.id == 0" round (click)="addCompany()" [disabled]="!companyIsComplete" type="submit" color="primary" block>
          Crear compañía
        </button>

        <button ion-button *ngIf="company.id != 0" round (click)="updateCompany()" [disabled]="!companyIsComplete" type="submit" color="primary" block>
          Actualizar compañía
        </button>

        <p *ngIf="!companyIsComplete" class="gic-form-incomplete">Todos campos marcados son obligatorios</p>
      </div>
    </form>
  </ion-list>

</ion-content>
