<!--
  Generated template for the ModalAddConceptPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gic-primary-dark">
    <ion-title>Nuevo concepto</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list padding>
    <form>
      <ion-badge color="gic-primary-dark" class="invoice-badge" style="margin: 10px 0;">Nombre</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="concept.name" name="name" type="text" required placeholder="Escriba el nombre del concepto">
        </ion-input>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="invoice-badge" style="margin: 10px 0;">Descripción</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="concept.description" name="description" type="text" required placeholder="Escriba la descripción del concepto">
        </ion-input>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="invoice-badge" style="margin: 10px 0;">Precio</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="concept.price" name="price" type="text" required placeholder="Escirba el precio del concepto">
        </ion-input>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="invoice-badge" style="margin: 10px 0;">Impuesto</ion-badge>
      <ion-item class="gic-input">
        <ion-select [(ngModel)]="concept.tax" name="tax" placeholder="Seleccione el impuesto del concepto">
          <ion-option [value]="tax.id" *ngFor="let tax of taxes">{{ tax.name }} ({{ tax.value | number:'1.2-2' }}%)</ion-option>
        </ion-select>
      </ion-item>

      <div padding>
        <button ion-button rounded (click)="addConcept()" [disabled]="!conceptIsComplete" type="submit" color="gic-primary-dark" block>
          Crear artículo o servicio
        </button>
      </div>
    </form>
  </ion-list>

</ion-content>
