<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gic-primary-dark">
    <ion-title>Resetear contraseña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <form>
      <ion-badge class="gic-input-badge">Email</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="email" name="email" type="text" required>
        </ion-input>
      </ion-item>
      <button ion-button round (click)="resetPwd()" type="submit" color="gic-primary-dark" style="margin-top: 10px;" block>
        Resetear contraseña
      </button>
    </form>
  </ion-list>
</ion-content>
