<!--
  Generated template for the ModalAddCustomerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gic-primary-dark" text-color="white">
    <ion-title color="gic-danger">Añadir cliente</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <form>
      <ion-badge color="gic-primary-dark" class="invoice-badge" style="margin: 10px 0;">NOMBRE</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="customer.name" name="name" type="text" required placeholder="Escriba el nombre del cliente">
        </ion-input>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="invoice-badge" style="margin: 10px 0;">NIF</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="customer.nif" name="nif" type="text" required placeholder="Escriba el NIF del cliente">
        </ion-input>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="invoice-badge" style="margin: 10px 0;">DIRECCIÓN</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="customer.address" name="address" type="text" required placeholder="Escriba la dirección del cliente">
        </ion-input>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="invoice-badge" style="margin: 10px 0;">CIUDAD</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="customer.city" name="city" type="text" required placeholder="Escriba la ciudad del cliente">
        </ion-input>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="invoice-badge" style="margin: 10px 0;">PROVINCIA</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="customer.province" name="province" type="text" required placeholder="Escriba la provincia del cliente">
        </ion-input>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="invoice-badge" style="margin: 10px 0;">CÓDIGO POSTAL</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="customer.postalCode" name="postalCode" type="text" required placeholder="Escriba el código postal del cliente">
        </ion-input>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="invoice-badge" style="margin: 10px 0;">TELÉFONO</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="customer.phone" name="phone" type="text" required placeholder="Escriba el teléfono del cliente">
        </ion-input>
      </ion-item>

      <ion-badge color="gic-primary-dark" class="invoice-badge" style="margin: 10px 0;">EMAIL</ion-badge>
      <ion-item class="gic-input">
        <ion-input [(ngModel)]="customer.email" name="email" type="text" required placeholder="Escriba el email del cliente">
        </ion-input>
      </ion-item>

      <div padding>
        <button ion-button (click)="addCustomer()" [disabled]="!companyIsComplete" rounded type="submit" color="gic-primary-dark" block>
          Crear compañía
        </button>
      </div>
    </form>
  </ion-list>
</ion-content>
