<ion-header>

  <ion-navbar color="gic-primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Facturas</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="showFilters = !showFilters">
        <ion-icon name="radio-button-on"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addInvoice()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar *ngIf="!loading"
                 [(ngModel)]="searchInvoice"
                 [showCancelButton]="shouldShowCancel"
                 (ionInput)="onSearch()">
  </ion-searchbar>

  <div *ngIf="loading" class="div-spinner">
    <ion-spinner name="dots"></ion-spinner>
    <p>Cargando las facturas</p>
  </div>

  <div *ngIf="showFilters">
    <p class="gic-form-incomplete">Seleccione el estado de la factura a buscar</p>
    <ion-list radio-group [(ngModel)]="filterState">
      <ion-item>
        <ion-label>Todas</ion-label>
        <ion-radio checked="true" value="" (click)="onRadioSearch('')"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Pendiente</ion-label>
        <ion-radio value="pendiente" (click)="onRadioSearch('pendiente')"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Aceptada</ion-label>
        <ion-radio value="aceptada" (click)="onRadioSearch('aceptada')"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Rechazada</ion-label>
        <ion-radio value="rechazada" (click)="onRadioSearch('rechazada')"></ion-radio>
      </ion-item>
    </ion-list>
  </div>

  <ion-list *ngIf="!loading" no-lines padding>
    <ion-item-sliding *ngFor="let invoice of filterInvoices" #item>
      <ion-item class="gic-list-item">
        <h2 class="df-between">
          {{ invoice.invoice }}
          <ion-icon *ngIf="invoice.state == 'pendiente'" class="c-pending" name="radio-button-on"></ion-icon>
          <ion-icon *ngIf="invoice.state == 'aceptada'" class="c-accepted" name="radio-button-on"></ion-icon>
          <ion-icon *ngIf="invoice.state == 'rechazada'" class="c-rejected" name="radio-button-on"></ion-icon>
        </h2>
        <p class="df-between">
          <span>{{ invoice.customer.name }}</span>
          <span>{{ invoice.total }} €</span>
        </p>
      </ion-item>
      <ion-item-options side="left">
        <div class="gic-list-item-actions">
          <button ion-fab mini (click)="updateInvoice(invoice)" class="btn-customer" color="gic-primary-dark">
            <ion-icon name="brush"></ion-icon>
          </button>
          <button ion-fab mini (click)="deleteInvoice(invoice)" class="btn-customer" color="gic-primary-dark">
            <ion-icon name="trash"></ion-icon>
          </button>
          <button ion-fab mini (click)="downloadPDF(invoice)" class="btn-customer" color="gic-primary-dark">
            <ion-icon name="cloud-download"></ion-icon>
          </button>
          <button ion-fab mini *ngIf="invoice.state != 'pendiente'" (click)="changeState(invoice, 'pendiente')" class="btn-customer" color="gic-primary-dark">
            <ion-icon name="remove"></ion-icon>
          </button>
          <button ion-fab mini *ngIf="invoice.state == 'pendiente'" (click)="changeState(invoice, 'aceptada')" class="btn-customer" color="gic-primary">
            <ion-icon name="checkmark"></ion-icon>
          </button>
          <button ion-fab mini *ngIf="invoice.state == 'pendiente'" (click)="changeState(invoice, 'rechazada')" class="btn-customer" color="gic-danger">
            <ion-icon name="close"></ion-icon>
          </button>
        </div>
      </ion-item-options>
    </ion-item-sliding>
    <p *ngIf="filterInvoices.length == 0" class="gic-list-item" padding>No hay facturas que mostrar.</p>
  </ion-list>

</ion-content>
