<!--
  Generated template for the CompaniesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gic-primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Compañías</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addCompany()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="loading" class="div-spinner">
    <ion-spinner name="dots"></ion-spinner>
    <p>Cargando las compañias</p>
  </div>

  <ion-searchbar *ngIf="!loading"
                 [(ngModel)]="searchCompany"
                 [showCancelButton]="shouldShowCancel"
                 (ionInput)="onSearch($event)"
                 (ionCancel)="onCancelSearch($event)">
  </ion-searchbar>

  <ion-list *ngIf="!loading" no-lines padding>
    <ion-item-sliding *ngFor="let company of companies" #item>
      <ion-item class="gic-list-item">
        <h2 class="df-between">
          {{ company.name }}
          <small>{{ company.nif }}</small>
        </h2>
        <p class="p-09 df-between">
          <span *ngIf="company.phone.length > 0">{{ company.phone }}</span>
          <span *ngIf="!company.phone.length > 0">Sin teléfono</span>
          <span *ngIf="company.email.length > 0">{{ company.email }}</span>
          <span *ngIf="!company.email.length > 0">Sin correo</span>
        </p>

      </ion-item>
      <ion-item-options side="left">
        <div class="gic-list-item-actions">
          <button ion-fab mini (click)="updateCompany(company)" class="btn-customer" color="gic-primary-dark">
            <ion-icon name="brush"></ion-icon>
          </button>
          <button ion-fab mini (click)="deleteCompany(company)" class="btn-customer" color="gic-primary-dark">
            <ion-icon name="trash"></ion-icon>
          </button>
        </div>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
