<!--
  Generated template for the ModalSearchCustomersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gic-primary-dark">
    <ion-title color="gic-danger">Buscar cliente</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar
    [(ngModel)]="searchCustomer"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onSearch($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <ion-list no-lines>
    <ion-item *ngFor="let customer of filterCustomers">
      <div class="invoice-input" (click)="selectCustomer(customer)">
        <h2 class="df-between">{{ customer.name }} <small>{{ customer.nif}}</small></h2>
        <div class="df-between">
          <span>{{ customer.phone }}</span>
          <span>{{ customer.email }}</span>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
