page-modal-search-customers {
  .invoice-input {
    width: 100%;
    background: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 10px 10px;
    border-bottom: none;
    outline: none;
    display: flex;
    flex-direction: column;
    .df-between {
      display: flex; justify-content: space-between; align-items: center;
    }
    h2 {
      color: rgb(103,103,103);
      text-transform: uppercase;
    }
    span { color: rgb(150, 150, 150); font-size: 0.9em; }
    &:hover {
      background: rgb(240, 240, 240);
    }
  }
}
